// COLORS
$font-size: 16px;
$hockey-red: #da1212;
$hockey-white: #eeeeee;
$hockey-blue: #3ab0ff;
$backdrop-gradient: linear-gradient(to left, $hockey-red, $hockey-white);

// z-indices
$modal-z-index: 10;
