@use "../../styles/utils.scss" as utils;

.modalBackdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modalBody {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60vw;
  height: 60vw;
  background-color: white;
  padding: utils.px-to-rem(24px);
}

.closeButton {
  all: unset;
  position: absolute;
  right: utils.px-to-rem(5px);
  top: utils.px-to-rem(5px);
  width: utils.px-to-rem(25px);
  height: utils.px-to-rem(25px);

  &:hover {
    cursor: pointer;
  }
}
